<%- include('_layouts/layout', { title: 'Home page' }); -%>

  <!-- @meta -->
  <meta name="description" content="Home page">
  <!-- @@meta -->

  <!-- @content -->
  <main class="p-top">
    <div class="l-container">
      <div class="c-animation">
        <img src="./assets/img/leaf.png" alt="ハッカ油は、毎日の暮らしを豊かにする魔法のしずく" class="c-animation__leaftop">
        <img src="./assets/img/leaf2.png" alt="ハッカ油は、毎日の暮らしを豊かにする魔法のしずく" class="c-animation__leafright">
        <div class="c-animation__drops">
          <img src="./assets/img/drop1.png" alt="ハッカ油は、毎日の暮らしを豊かにする魔法のしずく"
            class="c-animation__drop1 c-animation__dropbig">
          <img src="./assets/img/drop2.png" alt="ハッカ油は、毎日の暮らしを豊かにする魔法のしずく"
            class="c-animation__drop2 c-animation__dropsmall">
          <img src="./assets/img/drop3.png" alt="ハッカ油は、毎日の暮らしを豊かにする魔法のしずく"
            class="c-animation__drop3 c-animation__dropbig">
          <img src="./assets/img/drop4.png" alt="ハッカ油は、毎日の暮らしを豊かにする魔法のしずく"
            class="c-animation__drop4 c-animation__dropsmall">
          <img src="./assets/img/drop5.png" alt="ハッカ油は、毎日の暮らしを豊かにする魔法のしずく"
            class="c-animation__drop5 c-animation__dropbig">
          <img src="./assets/img/drop6.png" alt="ハッカ油は、毎日の暮らしを豊かにする魔法のしずく"
            class="c-animation__drop6 c-animation__dropsmall">
        </div>
      </div>
    </div>
    <nav class="c-navbar">
      <ul class="c-navbar__list">
        <li class="c-navbar__item">
          <a href="#">トップ</a>
        </li>
        <li class="c-navbar__item">
          <a href="#bannerlist">毎日にハッカ油</a>
        </li>
        <li class="c-navbar__item">
          <a href="#intro">製品情報</a>
        </li>
        <li class="c-navbar__item">
          <a href="#qa">Q&A</a>
        </li>
        <li class="c-navbar__item">
          <a href="#process">ハッカ油コラム</a>
        </li>
        <li class="c-navbar__item">
          <a href="#bannerfooter">ハッカ油ムービー</a>
        </li>
      </ul>
    </nav>
    <nav class="c-navbarmobile">
      <img src="./assets/img/iconmenumobile.png" alt="ハッカ油は、毎日の暮らしを豊かにする魔法のしずく" class="c-menuicon">
      <img src="./assets/img/fixedtopmb.png" alt="ハッカ油は、毎日の暮らしを豊かにする魔法のしずく" class="c-navbarmobile__fixedtop">
      <img src="./assets/img/fixedbottommb.png" alt="ハッカ油は、毎日の暮らしを豊かにする魔法のしずく" class="c-navbarmobile__fixedbottom">
      <ul class="c-navbarmobile__list">
        <li class="c-navbarmobile__item">
          <a href="#">トップ</a>
        </li>
        <li class="c-navbarmobile__item">
          <a href="#bannerlist">毎日にハッカ油</a>
        </li>
        <li class="c-navbarmobile__item">
          <a href="#intro">製品情報</a>
        </li>
        <li class="c-navbarmobile__item">
          <a href="#qa">Q&A</a>
        </li>
        <li class="c-navbarmobile__item">
          <a href="#process">ハッカ油コラム</a>
        </li>
        <li class="c-navbarmobile__item">
          <a href="#bannerfooter">ハッカ油ムービー</a>
        </li>
      </ul>
    </nav>

    <section class="c-header">
      <div class="c-banner">
        <div class="c-banner__bg">
          <picture>
            <source media="(max-width:767px )" srcset="./assets/img/bannermobile.png">
            <img src="./assets/img/banner.png" alt="ハッカ油は、毎日の暮らしを豊かにする魔法のしずく" class="c-banner__img">
          </picture>
        </div>
        <div class="c-banner__content">
        <h1>
          <picture>
            <source media="(max-width:767px )" srcset="./assets/img/bannercontentmb.png">
            <img src="./assets/img/banner_content.png" alt="ハッカ油は、毎日の暮らしを豊かにする魔法のしずく">
          </picture>
        </h1>
        </div>
        <a href="#" class="c-banner__btn">ハ ッ カ？ミ ン ト ？</a>
      </div>
    </section>
    <div class="l-container">
      <img src="./assets/img/iconmenu.png" alt="ハッカ油は、毎日の暮らしを豊かにする魔法のしずく" class="c-menuicon">
    </div>


    
    <div id="bannerlist" class="c-section c-bannerlist">
      <div class="l-container">
        <div class="c-bannerlist__title">
          <p class="c-bannerlist__titletop">使い 方い ろいろ</p>
          <p class="c-bannerlist__titlebig">毎日にハッカ油</p>
        </div>
        <div class="c-list">
          <% linklists.main && linklists.main.forEach(link=> { %>
            <% if (link.listBannerData) { %>
              <div class="c-list__row">
                <% link.listBannerData.forEach((item, index)=> { %>
                  <% if(index < 4) { %>
                    <a href="#" class="c-list__item c-list__item<%= index + 1 %>">
                      <div class="c-list__body">
                        <figure class="c-list__image">
                          <% if(item.dailyUse==true) {%>
                            <div class="c-list__labeldailyuse">
                              <picture>
                                <source media="(max-width:767px )" srcset="./assets/img/labelDailyUseMobile.png">
                                <img src="./assets/img/labelDailyUse.png" alt=<%=item.title %>>
                              </picture>
                            </div>
                            <% } %>
                              <% if(item.recommend==true) {%>
                                <div class="c-list__labelrecommend">
                                  <picture>
                                    <source media="(max-width:767px )" srcset="./assets/img/labelRecommendMobile.png">
                                    <img src="./assets/img/labelRecommend.png" alt=<%=item.title %>>
                                  </picture>
                                </div>

                                <% } %>
                                  <img src=<%=item.image %> alt=<%= item.title %> class="c-list__img">
                        </figure>
                        <p class="c-list__title">
                          <%= item.title %>
                        </p>
                      </div>
                    </a>
                    <% } %>
                      <% }) %>
              </div>
              <div class="c-list__row">
                <% link.listBannerData.forEach((item, index)=> { %>
                  <% if(index>= 4) { %>
                    <a href="#" class="c-list__item c-list__item<%= index + 1 %>">
                      <div class="c-list__body">
                        <figure class="c-list__image">
                          <% if(item.dailyUse==true) {%>
                            <div class="c-list__labeldailyuse">
                              <img src="./assets/img/labelDailyUse.png" alt=<%=item.title %>>
                            </div>
                            <% } %>
                              <% if(item.recommend==true) {%>
                                <div class="c-list__labelrecommend">
                                  <picture>
                                    <source media="(max-width:767px )" srcset="./assets/img/labelRecommendMobile.png">
                                    <img src="./assets/img/labelRecommend.png" alt=<%=item.title %>>
                                  </picture>
                                </div>
                                <% } %>
                                  <img src=<%=item.image %> alt=<%= item.title %> class="c-list__img">
                        </figure>
                        <p class="c-list__title">
                          <%= item.title %>
                        </p>
                      </div>
                    </a>
                    <% } %>
                      <% }) %>
              </div>
              <% } %>
                <% }) %>
        </div>
      </div>
    </div>
    <section id="intro" class="c-section c-intro">
      <div class="l-container">
        <% if (typeof linklists !='undefined' ) { %>
          <% linklists.main && linklists.main.forEach(link=> { %>
            <% if (link.listIntro) { %>
              <% link.listIntro.forEach(item=> { %>
                <div class="c-boxseffect">
                  <div class="c-boxseffect__heading">
                    <div class="c-boxseffect__col1">
                      <img src="<%= item.point %>" alt="<%= item.title %>">
                      <div class="c-boxseffect__line"></div>
                      <div class="c-boxseffect__point">Point</div>
                    </div>
                    <div class="c-boxseffect__col2">
                      <h2 class="c-boxseffect__title">
                        <%= item.title %>
                      </h2>
                      <p class="c-boxseffect__desc">
                        <%= item.desc %>
                      </p>
                    </div>
                  </div>
                  <p class="c-boxseffect__descmb" style="display: none;">
                    <%= item.desc %>
                  </p>
                  <div class="c-boxseffect__body">
                    <% item.pointList.forEach(itemPoint=> { %>
                      <div class="c-boxseffect__item">
                        <picture>
                          <source media="(max-width:767px )" srcset="<%= itemPoint.imagemb%>">
                          <img src="<%= itemPoint.image %>" alt="<%= itemPoint.title %>" class="c-boxseffect__img">
                        </picture>
                        <img src="./assets/img/boxmore.png" alt="<%= itemPoint.title %>" class="c-boxseffect__more">
                        <div class="c-boxseffect__overlay">
                          <h3 class="c-boxseffect__overlaytitle">
                            <%= itemPoint.title %>
                          </h3>
                          <div class="c-boxseffect__overlayline"></div>
                          <p class="c-boxseffect__overlaydesc">
                            <%= itemPoint.desc %>
                          </p>
                          <a href="#" class="c-boxseffect__overlaybtn">
                            <%= itemPoint.button %>
                          </a>
                        </div>
                      </div>
                      <% }) %>
                  </div>
                </div>
                <% }) %>
                  <% } %>
                    <% }) %>
                      <% } %>
                        <div class="c-intro__footer">
                          <p class="c-intro__footertitle">お買い求めは全国のドラッグストア、またはこちらから</p>
                          <p class="c-intro__footertitlemb" style="display: none;">お買い求めは全国のドラッグストア<br>、またはこちらから</p>
                          <div class="c-listweb">
                            <a href="#" target="_blank" class="c-listweb__item">
                              <img src="./assets/img/listWebItem1.png" alt="お買い求めは全国のドラッグストア、またはこちらから">
                            </a>
                            <a href="#" target="_blank" class="c-listweb__item">
                              <img src="./assets/img/listWebItem2.png" alt="お買い求めは全国のドラッグストア、またはこちらから">
                            </a>
                            <a href="#" target="_blank" class="c-listweb__item">
                              <img src="./assets/img/listWebItem3.png" alt="お買い求めは全国のドラッグストア、またはこちらから">
                            </a>
                            <a href="#" target="_blank" class="c-listweb__item">
                              <img src="./assets/img/listWebItem4.png" alt="お買い求めは全国のドラッグストア、またはこちらから">
                            </a>
                          </div>
                          <p class="c-intro__footerdesc">
                            Amazon、Amazon.co.jp、及びAmazon.co.-jpロゴはAmazon.com, Inc.又はその関連会社の商標です。
                          </p>
                        </div>
      </div>
    </section>
    <div class="l-container">
      <section id="qa" class="c-section c-qa">
        <h2 class="c-qa__title">Q & A</h2>
        <div class="c-qa__list">
          <% linklists.main && linklists.main.forEach(link=> { %>
            <% if (link.listIntro) { %>
              <% link.qaList.forEach(item=> { %>
                <dl class="c-qa__listitem">
                  <dt class="c-qa__listtitle">
                    <div class="c-qa__listicon">Q</div>
                    <a href="#" class="c-qa__listtext">
                      <%= item.title %>
                    </a>
                  </dt>
                  <dd class="c-qa__listdesc">
                    <%= item.desc %>
                  </dd>
                </dl>
                <% }) %>
                  <% } %>
                    <% }) %>
        </div>
      </section>
      <section id="process" class="c-section c-process">
        <div class="c-process__header">
          <h3 class="c-process__title">日々の暮らしにお役立ち </h3>
          <h2 class="c-process__titlebig">「ハッカ油コラム」へ</h2>
        </div>
        <div class="c-listprocess">

          <% linklists.main && linklists.main.forEach(link=> { %>
            <% if (link.processList) { %>
              <% link.processList.forEach((item,index)=> { %>
                <div class="c-listprocess__item">
                  <a href="#" class="c-listprocess__link"></a>
                  <div class="c-listprocess__container">
                    <div class="c-listprocess__head">
                      <div class="c-listprocess__image">
                        <img src="<%= item.image %>" alt="風邪やインフルエンザシーズンにもハッカ油" class="c-listprocess__img">
                        <div class="c-listprocess__imgcontent">
                          <img src="./assets/img/processtext.png" alt="風邪やインフルエンザシーズンにもハッカ油">
                          <p>
                            <% if(index<2) {%>
                              <%= 11 - index %>
                                <% } else { %>
                                  0<%= 11 - index %>
                                    <% } %>
                          </p>
                        </div>
                      </div>
                      <div class="c-listprocess__title">
                        <h5 class="c-listprocess__text">
                          <%= item.title %>
                        </h5>
                        <h4 class="c-listprocess__textbig">
                          <%= item.titleBig %>
                        </h4>
                      </div>
                    </div>
                    <div class="c-listprocess__body <% if (index == 0) { %>
                      <%= 'is-active' %>  
                    <% } %>">
                      <p class="c-listprocess__desc">
                        <%= item.desc %>
                      </p>
                      <a href="#" class="c-listprocess__more">詳しく見る</a>
                    </div>
                  </div>
                  <div class="c-listprocess__icon <% if (index == 0) { %>
                    <%= 'is-active' %>  
                  <% } %>">
                    <picture>
                      <source media="(max-width:767px )" srcset="./assets/img/arrowDownMobile.png">
                      <img src="./assets/img/arrowRight.png" alt="風邪やインフルエンザシーズンにもハッカ油" class="c-listprocess__iconpc">
                    </picture>
                  </div>
                </div>
                <% }) %>
                  <% } %>
                    <% }) %>

        </div>
      </section>
      <div id="bannerfooter" class="c-section c-bannerfooter">
        <div class="c-bannerfooter__img">
          <picture>
            <source media="(max-width:767px )" srcset="./assets/img/bannerFootermobile.png">
            <img src="./assets/img/bannerFooter.png" alt="さわやかハッカ油で虫除け対策のイメージ写真">
          </picture>
        </div>
      </div>
    </div>
  </main>
  <!-- @@content -->