<div class="l-container">
<footer class="c-footer">
    <div class="c-footer__info">
      <p class="c-footer__text1">商品に関するお問い合わせは</p>
      <p class="c-footer__text2">健栄製薬株式会社</p>
      <p class="c-footer__tel">TEL |｜06-6231-5626　受付時間 |｜8:45〜17:30(土日祝日を除く)</p>
    </div>
    <div class="c-footer__logo">
      <img src="./assets/img/logo.png" alt="©KENEI Pharmaceutical">
      <p class="c-footer__by">©KENEI Pharmaceutical</p>
    </div>
  </footer>
</div>