//============================================
// clearfix
//============================================
@mixin clear {
    *zoom: 1;

    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

//============================================
// breakpoint
//============================================
@mixin sp {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin tab {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}

// Safari 10.1+
@mixin safari {
    @media not all and (min-resolution:0.001dpcm) {
        @supports (-webkit-appearance:none) {
            @content;
        }
    }
}

@mixin lh($px) {
    line-height: calc($px / 16);
}
