.c-animation {
    z-index: 999;

    .c-animation__leaftop,
    .c-animation__leafright,
    .c-animation__drop1,
    .c-animation__drop2,
    .c-animation__drop3,
    .c-animation__drop4,
    .c-animation__drop5,
    .c-animation__drop6 {
        transition: all 1s linear;
        position: fixed;
        
    }

    .c-animation__drop1,
    .c-animation__drop2,
    .c-animation__drop3,
    .c-animation__drop4,
    .c-animation__drop5,
    .c-animation__drop6 {
        @include tab {
            width: 7%;
        }        
    }

    .c-animation__leaftop {
        top: 1px;
        left: 36%;
        z-index: 1;
        width: 15.4%;
        height: 213px;
        transform: rotate(1deg);
        @include tab {
            width: 150px;
            height: auto;
        }
    }

    .c-animation__leafright {
        width: 12.3%;
        top: 468px;
        right: 0;
        @include tab {
            width: 150px;
            height: auto;
        }
    }

    .c-animation__drop1 {
        width: 6.8%;
        top: 450px;
        left: 16.4%;
    }

    .c-animation__drop2 {
        width: 5%;
        top: 560px;
        left: 29.2%;
    }

    .c-animation__drop3 {
        width: 7%;
        top: 548px;
        right: 22.3%;
    }

    .c-animation__drop4 {
        width: 4.8%;
        top: 111px;
        right: 13.5%;
    }


    .c-animation__drop5 {
        width: 6.5%;
        top: 62px;
        left: 57.2%;
    }

    .c-animation__drop6 {
        width: 5%;
        top: 87px;
        left: 28.5%;
    }

    .c-animation__drops {
        transition: all 1.5s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
    }

    .c-animation__dropbig {
        animation: down 3s linear infinite;
    }

    .c-animation__dropsmall {
        animation: jumb 3s linear infinite;
    }

    @keyframes jumb {
        50% {
            transform: translateY(-25px);
        }
    }

    @keyframes down {
        50% {
            transform: translateY(25px);
        }
    }
}


@include sp {
    .c-animation {
        .c-animation__drops {
            display: none;
        }

        .c-animation__leaftop {
            top: -9px;
            left: 95px;
            width: 114.5px;
            height: 97px;
        }

        .c-animation__leafright {
            top: 493px;
            width: 105.5px;
            height: 107px;
        }
    }
}
