.c-banner {
    padding-top: 100px;
    position: relative;
    margin-bottom: 77px;

    .c-banner__content {
        position: absolute;
        bottom: 25%;
        left: 15.5%;
    }

    .c-banner__bg {
        width: fit-content;
        border-radius: 50px;
    }
 
    .c-banner__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .c-banner__btn {
        position: absolute;
        bottom: 10.4%;
        left: 16.2%;
        width: 305px;
        height: 54px;
        background-color: #25a989;
        border-radius: 27px;
        border: 0;
        font-size: 2.4rem;
        color: #fff;
        display: flex;
        align-items: center;
        padding-left: 40px;
    }
    
}

.c-bannermobile {
    display: none;
}

@include sp {
    .c-banner {
        display: none;
    }
    
    .c-bannermobile {
        display: block;
        margin: 0 0 35px;
    }
}

@include tab {
    .c-banner {
        padding-left: 40px;
        padding-right: 40px;
    }
}
