.c-list {
    .c-list__row {
        display: flex;
    }

    .c-list__row:not(.c-list__row:last-child) {
        margin-bottom: 20px;
    }

    .c-list__item { 
        width: 25%;
        min-width: fit-content;
    }
    
    .c-list__body {
        display: flex;
        align-items: center;
    }

    .c-list__image {
        text-align: center;
        width: fit-content;
    }

    .c-list__img {
        margin-top: 20px;
    }

    .c-list__title {
        color: rgb(51, 51, 51);
        border-bottom: 1px;
        padding-left: 10px;
        border-style: dashed;
        font-size: 1.4rem;
        line-height: 1.31;
    }
}

@include sp {
    .c-list {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;

        .c-list__title {
            border-style: dotted;
        }
    }
}
