.c-menuicon {
    display: none;
    position: fixed;
    top: 30px;
    left: 30px;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 100rem;
    cursor: pointer;
    z-index: 9;
}


@include tab {
    .c-menuicon {
        display: block;
    }
}

@include sp {
    .c-menuicon {
        top: 15px;
        left: 15px;
    }
}

